BasedOnStyle: Microsoft
BreakBeforeBraces: Linux
IndentCaseLabels: true
IndentWidth: 2
ContinuationIndentWidth: 2
PointerAlignment: Right
SortIncludes: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
