Checks: >-
  -*,
  bugprone-empty-catch,
  bugprone-exception-escape,
  clang-analyzer-cplusplus.StringChecker,
  performance-unnecessary-value-param
HeaderFilterRegex: '^(include|src|test)/'
FormatStyle: file
WarningsAsErrors: '*'
